
<form id="formulario-cron" #cronForm="ngForm" (ngSubmit)="criarCron(cronForm)">
    <div class="field-checkbox">
        <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary" name="checkbox"></p-checkbox>
        <label for="binary"> Agendar por dia da semana</label>
    </div>

    <div *ngIf="!checked" class="field-checkbox">
        <p-checkbox [(ngModel)]="qualquerMes" [binary]="true" inputId="binary" name="checkboxTodoMes"></p-checkbox>
        <label for="binary"> Qualquer mes</label>
    </div>
    
    <p-calendar placeholder="Selecione a data..." *ngIf="!checked" [(ngModel)]="dataDiaMes" [showTime]="true" [showSeconds]="true" dateFormat="dd/mm" hourFormat="24" [minDate]="minDate" [maxDate]="maxDate" name="inputDiaMes"></p-calendar>
    
    <div *ngIf="checked">
        <p-dropdown  [options]="diasSemana" [(ngModel)]="selectedDia" placeholder="Selecione o dia" optionLabel="name" [showClear]="true" name="inputDia"></p-dropdown>
    
        <p-calendar [timeOnly]="true" [showSeconds]="true" [(ngModel)]="dataDiaSemana" [showTime]="true" [hourFormat]="'24'" [readonlyInput]="true" placeholder="Selecione a hora..." name="inputHora"></p-calendar>
    </div>
    
    <p-button label="Agendar" icon="pi pi-check" type="submit"></p-button>
</form>
